# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Prisma migrations (we use db push in dev)
prisma/migrations

# Misc
README.md
*.md
